<div class="example-card">
  <mat-card>
    <mat-card-header>

      <mat-card-title>
        <h2>
          Please let us help you, {{ contactUs.first_name }}
        </h2>
      </mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <form class="example-form">

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="First name" [(ngModel)] = "contactUs.first_name" name="firstName">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" [(ngModel)] = "contactUs.last_name" name="lastName">
          </mat-form-field></td>
        </tr></table>

        <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Reason For Contact" [(ngModel)] = "contactUs.reason" name="reason"/>
          </mat-form-field>
        </p>

        <!--<table class="example-full-width" cellspacing="0"><tr>-->
          <!--<td><mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="City" [(ngModel)] = "contactUs.city" name="city">-->
          <!--</mat-form-field></td>-->
          <!--<td><mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="State" [(ngModel)] = "contactUs.state" name="state">-->
          <!--</mat-form-field></td>-->
          <!--<td><mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="Postal Code" [(ngModel)] = "contactUs.zipcode" name="zip">-->
          <!--</mat-form-field></td>-->
        <!--</tr></table>-->
      </form>

    </mat-card-content>


  </mat-card>
  <button mat-button (click)="itWorks()">Submit</button>

</div>
